<!DOCTYPE html>
<html lang="en">
    <head>
     <title>
         Blog App
             
     </title>
     <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.css">
     <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
      <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
      <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    </head>
    <body>
        <!-- <div class="ui fixed inverted menu">
           <div class="ui container">
               <div class="header item"><i class="code icon"></i>
                   Blog Site
               </div>
               <a class="active item" href="/">
                Home
              </a>
              <a class="item" href="/blogs/new">
                New Post
              </a>
           </div>
          </div> -->
          <nav class="navbar navbar navbar-expand-sm navbar-light bg-light" id="navbarall">
          
                <a  class="navbar-brand"href="/" id="brand"><img src="https://www.pintu.dk/img/logos/pintu-logo-icon.png" id="brand">
                </a>
            
          

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link notactivehome" href="/blogs">Home <span class="sr-only">(current)</span></a>
                </li>
                <%if(currentUser){ %>
                <li class="nav-item active">
                  <a class="nav-link hoverclass2all" href="/blogs/new">New Post</a>
                </li>
                <%}%>
              </ul>
              <ul class="navbar-nav ml-auto">
                  <% if(!currentUser){ %>
                    <li class="nav-item active"><a class="nav-link notactivehome login" href="/register">SignUp <i class="fas fa-user-plus"></i></a></li>
                    <li class="nav-item active"><a class="nav-link notactivehome" href="/login">LogIn <i class="fas fa-sign-in-alt"></i></a></li>
                  <% }else{ %>
                    <li class="nav-item active" style="margin-top:7px"><a class="nav-Link hoverclass2all login" style="padding:7px">Signed in as <%=currentUser.username %></a></li>
                    <li class="nav-item active"><a class="nav-link notactivehome" href="/logout">LogOut <i class="fas fa-sign-out-alt"></i></a></li>
                  <% }  %>
                  </ul>
            </div>
          </nav>