    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet"   >
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link rel="stylesheet" href="stylesheets/firstpage.css">
<div class="container" style="margin:0 auto">
 	<div class="row">
 		<div class="col-lg-12">
 			<div class="content">
 				<h1 class="titilliumfont">Notion</h1>
 				<h3 class="titilliumfont">Become A Blogger Today</h3>
                 <hr id="hrfirst">
                 
 				<a href="/login" class="button carread" style="text-decoration:none;"><i class="fas fa-sign-in-alt"></i> LogIn</a>
 				<a href="/register" class="button carread" style="text-decoration:none;"><i class="fas fa-user-plus"></i> SignUp</a>
 				<div style="margin-top:40px">
                        <a href="/blogs" class="button carread" style="text-decoration:none;"><i class="fas fa-user-plus"></i> Read Articles</a>
                 </div>
 			</div>
 		</div>
 	</div>
 </div>
 
 <script src="javascript/background.js"></script>

<% include partials/footer %>